<div class="container">
      <div class="jumbotron">
        <pre>{{usernameRef.errors | json}}</pre>
        <form class="form-inline">
		  <div class="form-group">		    
		    <div class="input-group">		  
		      <input 
			      type="text" 
			      required
			      minlength="3"
			      #usernameRef="ngModel" 
			      class="form-control"  
			      name="username" 
			      id="exampleInputAmount"  
			      [(ngModel)]="username" 
			      placeholder="Username"/>	

		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Sign up today</button>
		   <div *ngIf="usernameRef.errors?.required" class=" has-error">this field is required</div>
		   <div *ngIf="usernameRef.errors?.minlength" class=" has-error">
		   	this field must be longer than {{usernameRef.errors?.minlength.requiredLength}} characters. You only typed {{usernameRef.errors?.minlength.actualLength}}</div>
		</form>
      </div>
      <footer class="footer">
        <p>© 2016 Company, Inc.</p>
      </footer>
</div>


