<div class="container">
      <div class="jumbotron">
        <pre><b>usernameRef.errors :</b> {{usernameRef.errors | json}} <br/>
        	<b>usernameRef.untouched :</b> {{usernameRef.untouched}} <br/>
        	<b>usernameRef.touched :</b> {{usernameRef.touched}} <br/>
        	<b>usernameRef.pristine :</b> {{usernameRef.pristine}} <br/>
        	<b>usernameRef.dirty :</b> {{usernameRef.dirty}} <br/>
<b>formRef.value :</b> {{formRef.value | json}} <br/>
<b>formRef.valid :</b> {{formRef.valid | json}}</pre>
        <form class="form-inline" 
        		#formRef="ngForm"
				(ngSubmit)="onSubmit(formRef.value)"
        		>
		  	<fieldset ngModelGroup="login">
		  		<div class="panel well">
				  <div class="form-group">		    
				    <div class="input-group">		  
				      <input 
					      type="text" 
					      required
					      minlength="3"
					      #usernameRef="ngModel" 
					      class="form-control"  
					      name="username" 
					      id="exampleInputAmount"  
					      [(ngModel)]="username" 
					      placeholder="Username"/>	

				    </div>
				  </div>
				  <div class="form-group">		    
				    <div class="input-group">		  
				      <input 
					      type="password"			    
					      ngModel 
					      required
					      class="form-control"  
					      name="password"
					      placeholder="Password"/>	

				    </div>
				  </div>
			  </div>
			</fieldset>
			<fieldset ngModelGroup="location">
			  <div class="panel well">
				  <div *ngFor="let location of locations">	
				  <input 
				  	[attr.id]="location"
				  	type="radio" 
				  	name="location"
				  	ngModel
				  	[value]="location"
				  	required>	    
				    <label [attr.for]="location">{{location}}</label>
				  </div>
			  </div>			
			</fieldset>
			<fieldset ngModelGroup="skills">
			  <div class="panel well">
				  <select name="skills" [ngModel]="skills[0]" class="form-group">	
				  <option
				  	*ngFor="let skill of skills" 
				  	[value]="skill"
				  	name="skill"
				  	>	    
				   {{skill}}</option>
				  </select>
			  </div>			
			</fieldset>
		  <button type="submit" class="btn btn-primary">Sign up today</button>
		   <div *ngIf="usernameRef.errors?.required" class=" has-error">this field is required</div>
		   <div *ngIf="usernameRef.errors?.minlength" class=" has-error">
		   	this field must be longer than {{usernameRef.errors?.minlength.requiredLength}} characters. You only typed {{usernameRef.errors?.minlength.actualLength}}</div>
		</form>
      </div>
      <footer class="footer">
        <p>© 2016 Company, Inc.</p>
      </footer>
</div>


